html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

a:hover, a:focus {
  text-decoration: none; }

.overflow {
  overflow: hidden; }

body {
  font-family: "RobotoBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font: "RobotoBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif 14px/1.6; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.wrapper {
  max-width: 1012px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto; }

.top_line {
  border-bottom: 1px solid #dbddde;
  padding: 25px 0 18px; }

.logo,
.logo_title {
  float: left; }

.logo_title {
  font-size: 12px;
  font-family: "RobotoRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-left: 10px;
  line-height: 0; }
  .logo_title span {
    color: #f29700;
    font-size: 25px;
    font-family: "RobotoBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
    line-height: 50px; }

.search {
  float: right;
  position: relative;
  margin: 15px 20px 0 0;
  font-family: "RobotoRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 13px; }
  .search .input_search {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 2px 30px 2px 2px;
    width: 210px; }
  .search .search_btn {
    background: #fff;
    border: none;
    position: absolute;
    right: 5px;
    top: 1px; }
    .search .search_btn:hover i {
      color: #f29700; }
    .search .search_btn i {
      color: #daa7a7;
      font-size: 15px; }

.main_nav {
  margin-left: 50px; }
  .main_nav li {
    display: inline-block; }
    .main_nav li a {
      color: #3c4148;
      display: block;
      padding: 10px 17px; }
      .main_nav li a:hover {
        background: #f29700;
        color: #fff; }
      .main_nav li a.active {
        background: #3c4148;
        color: #fff; }

.slider .swiper-container {
  height: auto; }
.slider .swiper-slide {
  background: url("../img/carousel-item.jpg") no-repeat;
  background-size: cover; }
.slider .slide_content {
  padding: 60px 0 80px 108px; }
  .slider .slide_content span {
    background-color: #f29700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.3px;
    padding: 5px 7px; }
  .slider .slide_content h1 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 60px;
    line-height: 48px;
    margin: 15px 0 25px; }
  .slider .slide_content p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: bold;
    line-height: 24px;
    width: 66%; }

.owl-carousel .owl-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  left: calc(50% - 70px); }
  .owl-carousel .owl-controls .owl-dot {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    border: 1px solid white;
    display: inline-block;
    margin: 0 10px; }
    .owl-carousel .owl-controls .owl-dot.active {
      background: #f29700;
      border: 1px solid #f29700; }

.services {
  border-bottom: 1px solid #dbddde;
  margin-bottom: 50px; }
  .services .serv_item {
    float: left;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    width: 20%; }
    .services .serv_item:nth-child(1) {
      background: url("../img/compass.png") no-repeat 10% 50%; }
    .services .serv_item:nth-child(2) {
      background: url("../img/crane.png") no-repeat 10% 50%; }
    .services .serv_item:nth-child(3) {
      background: url("../img/expert.png") no-repeat 10% 50%; }
    .services .serv_item:nth-child(4) {
      background: url("../img/tools.png") no-repeat 10% 50%; }
    .services .serv_item:nth-child(5) {
      background: url("../img/micro.png") no-repeat 10% 50%; }
    .services .serv_item:hover {
      background-color: #eee; }
    .services .serv_item a {
      display: block;
      padding: 40px 0 40px 65px;
      color: #3c4148; }

/*# sourceMappingURL=main.css.map */
